*~
test
*.mtl
CMakeFiles
FLIGHT.app
Makefile
cmake_install.cmake
CMakeCache.txt
.DS_Store
deps/libnoise/examples/complexplanet
*.a
*.dylib
\#*\#
\**\*
.\#*
*.vcxproj*
*.sln
*.dir*
*Release*
*.VC*
*.vs
deps/yaml-cpp/CTestTestfile.cmake
deps/yaml-cpp/util/CTestTestfile.cmake
deps/yaml-cpp/yaml-cpp-config-version.cmake
deps/yaml-cpp/yaml-cpp-config.cmake
deps/yaml-cpp/yaml-cpp-targets.cmake
yaml-cpp.pc
