*~
test
*.mtl
CMakeFiles
FLIGHT
Makefile
cmake_install.cmake
CMakeCache.txt
.DS_Store
deps/libnoise/examples/complexplanet
*.a
*.dylib
\#*\#
\**\*
.\#*
*.o
*.lo
*.log
*.la
deps/freetype-2.7/builds/
deps/freetype-2.7/objs/
*.mk
