*~
test
*.mtl
CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
.DS_Store
deps/libnoise/examples/complexplanet
*.a
*.dylib
\#*\#
\**\*
.\#*
*.vcxproj*
*.sln
*.dir*
*Release*
*.VC*
*.vs
*.sdf
*.opensdf
config.h
