<?xml version="1.0"?>
<Config>
  <Graphics>
    <Option id="aa-level">4</Option>
    <Option id="vsync-enabled">yes</Option>
    <Option id="hide-cursor">yes</Option>
  </Graphics>
  <Controls>
    <Keyboard>
      <Mapping id="reg1">esc</Mapping>
      <Mapping id="reg2">z</Mapping>
      <Mapping id="reg3">x</Mapping>
      <Mapping id="spec1">num1</Mapping>
      <Mapping id="spec2">num2</Mapping>
      <Mapping id="spec3">num3</Mapping>
    </Keyboard>
    <Gamepads>
      <Controller name="SonyPS3Controller"
                  vendor-id="1356"
                  product-id="616">
        <Mapping id="reg1">16</Mapping>
        <Mapping id="reg2">11</Mapping>
        <Mapping id="reg3">10</Mapping>
      </Controller>
      <Controller name="SonyPS4Controller"
                  vendor-id="1356"
                  product-id="1476">
        <Mapping id="reg1">9</Mapping>
        <Mapping id="reg2">6</Mapping>
        <Mapping id="reg3">7</Mapping>
      </Controller>
    </Gamepads>
  </Controls>
  <Localization>
    <Font file="RobotoSlab-Regular.ttf"/>
    <Strings>
      <String id="app-name">FLIGHT</String>
      <String id="credits">A Game By Evan Bowman</String>
      <String id="start-text">press start</String>
    </Strings>
  </Localization>
  <Logging>
    <!-- Add inner text to "target" to optionally specify
         a path to dump the output log to. Otherwise the 
         game will send all log data to standard out. -->
    <Option id="target"></Option>
  </Logging>
</Config>
